@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Regular"),
    local("San-Francisco-Pro-Display-Regular"),
    url("~@/assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/SFProDisplay-Regular.woff") format("woff"),
    url("~@/assets/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro Bold";
  src: local("San Francisco Pro Display Regular"),
    local("San-Francisco-Pro-Display-Regular"),
    url("~@/assets/fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/SFProDisplay-Bold.woff") format("woff"),
    url("~@/assets/fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  height: 100%;
  padding: 16px;
  @media only screen and (min-width: 640px) {
    max-width: 690px;
    padding: 0;
  }
  @media only screen and (min-width: 1440px) {
    max-width: 1530px;
  }
}

.p0 {
  padding: 0 !important;
}

.pr0 {
  padding-right: 0px !important;
}

@media only screen and (min-width: 640px) {
  .mob {
    display: none;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}